---
layout: default
---

<section><p>{{ site.description | escape }}</p></section>

<section>
{% for post in site.posts limit:25 %}
<article class="list-article">
    <header>
        <a href="{{ post.url | relative_url }}"><h3>{{ post.title | escape }}</h3></a>
        <span class="article-ts">Vom <time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%d.%m.%Y" }}</time></span>
    </header>
    {{ post.excerpt }}
</article>
{% endfor %}

{% if site.posts.size > 25 %}
<p><a>Mehr Posts im Archiv</a></p>
{% endif %}
</section>

