html {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  line-height: 1.25;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

.strike {
  text-decoration: line-through;
}

.commit {
  a {
    color: inherit;
  }
  text-align: right;
  display: inline-block;
  width: 100%;
}

nav {
  text-align: center;
  width: 100vw;
  margin-left: -2em;
  margin-top: -1em;
  background: rgba(black, 0.3);
  background: linear-gradient(to bottom, rgba(black, 0.4), rgba(black, 0));
  height: auto;
  ul {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;
  }
  li {
      display: inline-block;
      margin: 14px 16px;
  }
  a {
      text-decoration: none;
      color: white;
  }
}

header {
  width: 100%;
  background: linear-gradient(110deg, #e50000, #e50000 16.67%, #ff8d00 16.67%, #ff8d00 33.33%, #fe0 33.33%, #fe0 50%, #008121 50%, #008121 66.67%, #004cff 66.67%, #004cff 83.33%, #760188 83.33%, #760188);
  color: white;
  padding: 1em;
  box-sizing: border-box;
  h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
  }
  small {
    text-align: right;
    float: right;
    a {
      color: white;
    }
  }
}

.list-article {
  margin: 1em 0;
  padding-left: 1em;
  header {
      padding: 0;
      background: white;
      color: black;
      h3 {
          margin-bottom: 0;
          margin-top: 0.1em;
          font-weight: normal;
          font-size: 1.2em;
      }
      a {
          color: #001087;
          text-decoration: none;
      }
      .article-ts {
          display: block;
          font-size: x-small;
      }
  }

  transition: all 0.1s ease;
  &:hover {
    border-left-width: 10px !important;
    margin-left: -8px;
  }

  &:nth-child(6n+1) {
    border-left: 2px solid #e50000;
  }
  &:nth-child(6n+2) {
    border-left: 2px solid #ff8d00;
  }
  &:nth-child(6n+3) {
    border-left: 2px solid #fe0;
  }
  &:nth-child(6n+4) {
    border-left: 2px solid #008121;
  }
  &:nth-child(6n+5) {
    border-left: 2px solid #004cff;
  }
  &:nth-child(6n+6) {
    border-left: 2px solid #760188;
  }
}

section {
  margin: 1em auto;
  max-width: 1200px;
  box-sizing: content-box;
  padding: 0 1em;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
  border-top: 1px solid #eee;
  padding: 1rem;
  color: gray;
  font-size: 16px;
}
